// Fonts
@font-face {
    // Regular
    font-family: "C&L Regular";
    src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format('truetype');
}
@font-face {
    // Bold
    font-family: "C&L Bold";
    font-weight: bold;
    src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format('truetype');
}
@font-face {
    // Italics
    font-family: "C&L Italics";
    font-style: italic;
    src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format('truetype');
}
@font-face {
    // Bold italics
    font-family: "C&L BoldItalics";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format('truetype');
}

$font-stack: "C&L Regular";
$font-size-base: 12pt;
$navFontSize: 24pt;
$line-height-base: 1.2;

// Foreground Colors
$foreColor: rgb(10, 10, 10);
$foreAccent: rgb(40, 40, 40);
$foreGray: rgb(120, 120, 120);
$foreLight: rgb(180, 180, 180);

// Accent Colours

// Background colours
$backColor: rgb(240, 236, 240);
$backAccent: rgb(241, 239, 242);

$backFocus: rgb(224, 224, 224);
$backActive: rgb(216, 216, 216);

// Footer colours
$footerColor: rgb(220, 220, 220);

// Accent Colours
$accentlight: rgb(250, 174, 186);
$accentColor: rgb(248, 148, 164);
$accentDark: rgb(245, 125, 145);
$accentFaint: rgba(248, 148, 165, 0.4);
$accentFaintDark: rgba(228, 128, 145, 0.4);

$appGreenLight: rgb(95, 248, 189);
$appGreen: rgb(75, 228, 169);
$appGreenDark: rgb(64, 200, 148);

$appBlueLight: rgb(75, 199, 228);
$appBlue: rgb(75, 169, 228);
$appBlueDark: rgb(55, 149, 208);

// Panel colours
$panelBckColor: rgb(246,244,248);
$panelAccentColor: rgb(236,234,238);

// Transition properties
$transitionTime: 0.14s;

// Border properties
$borderThin: 2px;
$borderMed: 3px;
$borderThick: 4px;
$panelCorner: 10rem;
$smallRounded: 1rem;

// Panel border properties
$panelCorner: 1.6rem;

// Shadow stuff
$shdwClr: rgb(160, 160, 160);
@mixin hasShadow() {
    box-shadow: 0 0 0.4rem 0 $shdwClr;
}

// mixin formatting function for "display: flex"
@mixin flexDisplay($direction, $horizontal, $vertical) {
    display: flex;
    flex-direction: $direction;
    align-items: $horizontal;
    justify-content: $vertical;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// // Minimum aspect ratio - browsers > 16:9
// @media (min-aspect-ratio: 11/5) {


// }

// Maximum aspect ratio - mobile/portrait browsers
@media (max-aspect-ratio: 12/10) {
    $font-size-base: 11pt !important;
}
