// Import from forms
@import 'forms';


// Body and HTML tags formatting
html,
body {
    margin: 0 !important;

    font: $font-size-base $font-stack;
    line-height: $line-height-base;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $foreColor;

    background: linear-gradient(26deg, $backAccent 50%, $backColor 50%);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $foreColor;
}

p > a:hover {
    text-decoration: underline;
}

svg {
    user-select: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *               Main view-window properties               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    min-height: 100vh;

    &.no-scroll {
        overflow-y: hidden;
        padding-right: 1rem;

        nav {
            width: calc(82% - 0.8rem);
            transform: translateX(calc(-50% - 0.5rem));
        }

    }

    nav {
        z-index: 1;

        position: absolute;
        top: 1.2rem;
        left: 50%;
        transform: translateX(-50%);

        @include flexDisplay(row, center, space-between);

        height: 5rem;
        width: 82%;
        max-width: 1920px;

        transition: background-color $transitionTime ease-in-out;

        &.scrolling {
            background-color: $accentColor;

            #site-logo {
                svg{
                    stroke: $backAccent;
                }
            }
        }

        #search-bar-container,
        #nav-left {
            position: relative;

            @include flexDisplay(row, center, flex-start);
            height: 100%;

            top: 50%;
            transform: translateY(-50%);
        }

        #nav-left {
            width: 58%;

            #site-logo {
                position: relative;

                svg {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);

                    height: 4.4rem;
                    width: 4.4rem;

                    stroke: $foreAccent;
                    fill: $accentColor;

                    cursor: pointer;

                    transition: stroke $transitionTime ease-in-out,
                                transform $transitionTime ease-in-out;

                    &:hover {
                        transform: translateX(-50%) scale(1.06);

                        & + h3 {
                            opacity: 1;
                        }

                    }
                    &:active {
                        transform: translateX(-50%) scale(0.94);
                    }
                }
                h3 {
                    position: absolute;
                    left: 45%;
                    transform: translateX(-50%);

                    margin: 0;
                    margin-top: 0.6rem;

                    font-size: 1.4rem;
                    white-space: nowrap;
                    text-align: center;

                    min-width: 5rem;

                    padding: 1rem;
                    border-radius: $smallRounded;

                    color: $backColor;
                    background-color: $overlayColor;

                    pointer-events: none;

                    opacity: 0;

                    transition: opacity $transitionTime ease-in-out;
                }
            }

            #search-bar-container {
                position: relative;

                margin-left: 2rem;

                width: 50%;

                svg#search-icon {
                    z-index: 2;

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 1.2rem;

                    height: 1.8rem;
                    width: 1.8rem;
                    stroke: $foreGray;

                    cursor: pointer;

                    transition: transform $transitionTime ease-in-out;

                    &:hover {
                        transform: translateY(-50%) scale(1.06);
                    }
                    &:active {
                        transform: translateY(-50%) scale(0.94);
                    }
                }

                input#search-bar {
                    z-index: 2;

                    text-indent: 3.6rem;
                    font-size: 1.4rem;

                    @include hasShadow();
                }

                #results-container {
                    z-index: 1;

                    position: absolute;
                    top: 1.2rem;
                    left: 0;

                    padding-top: 3.2rem;

                    min-height: 3.2rem;
                    width: 100%;

                    > p {
                        width: 100%;
                        text-align: center;
                        background-color: $backColor;
                    }

                    .results-panel {
                        @include flexDisplay(row, center, space-between);

                        position: relative;

                        width: calc(100% - 4rem);
                        padding: 1rem 2rem;

                        margin: 0.4rem 0;

                        background-color: $backColor;
                        border-radius: $panelCorner;

                        @include hasShadow();

                        > h1,
                        > p.label {
                            margin: 0;

                            // position: relative;
                            // top: 50%;
                            // transform: translateY(-50%);
                        }

                        > h1 {
                            width: fit-content;
                            left: 0;
                        }

                        > p.label {
                            right: 0;

                            font-size: 80%;
                            color: $panelBckColor;

                            background-color: $foreColor;
                            padding: 0.32rem 0.4rem;
                            border-radius: 0.32rem;
                        }

                    }
                }

            }
        }

        #site-links {

            @include flexDisplay(row, flex-start, flex-start);
            flex-wrap: nowrap;

            height: 70%;

            a {
                @include flexDisplay(row, center, center);

                height: 100%;

                padding: 0 1.2rem;
                margin: 0 0.5rem;
                border-radius: $smallRounded;

                user-select: none;

                &#require-register {
                    cursor: pointer;
                }

                b {
                    font-size: 1.2rem;
                }

                p.beta {
                    margin-left: 0.6rem;

                    font-size: 80%;
                    color: $backAccent;

                    background-color: $foreAccent;
                    padding: 0.32rem 0.4rem;
                    border-radius: 0.32rem;
                }

                &.active {
                    background-color: $backFocus;
                }

                &:hover {
                    background-color: $backFocus;
                }
                &:active {
                    background-color: $backActive;
                }
            }
        }

    }

    main,
    footer #footer-content,
    #notification-container {
        left: 50%;
        transform: translateX(-50%);

        width: 70%;
        max-width: 960px;
    }

    main,
    footer #footer-content {
        position: relative;

        width: 70%;
        max-width: 960px;
    }

    main  {
        @include flexDisplay(column, center, flex-start);

        margin: 0;
        padding: 10rem 0;

        min-height: calc(100vh - 20rem);

        .profile-image-container {
            border-radius: 50%;

            min-width: 6rem;

            .profile-image {
                position: relative;

                width: 100%;
                padding-top: 100%; // Force 1:1 Aspect Ratio (little squished for some reason, hence 99%)
                border-radius: 50%;

                overflow: hidden;

                > img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    padding: 0;
                    margin: 0;

                    height: 102%;

                    object-fit: cover;
                }
            }
        }

        .item-container {
            @include flexDisplay(row, flex-start, flex-start);
            flex-wrap: wrap;

            min-height: calc(20vh - 4rem);
            width: calc(100% - 4rem);

            padding: 1rem;

            background-color: $panelAccentColor;
            border-radius: $panelCorner;

            > p.initial-msg,
            > p.nothing {
                width: 100%;

                align-self: center !important;
                text-align: center;
            }

            .item {
                @include flexDisplay(row, center, center);
                // flex-grow: 1;

                margin: 0.6rem;
                padding: 0 1.4rem;

                cursor: pointer;

                border-radius: $smallRounded;

                &.selected {
                    background-color: $accentFaint !important;
                }
                &.unselected {
                    background-color: $panelBckColor !important;
                }
            }

        }

    }

    #notification-container {
        position: fixed;
        top: 7.2rem;

        z-index: 2;

        .notify-panel {
            @include flexDisplay(row, center, flex-start);

            width: calc(100% - 4rem);
            padding: 1rem 2rem;

            border-radius: $smallRounded;

            h2,
            h3 {
                margin: 0;
            }
            h2 {
                margin-right: 1rem;
            }
            h3 {
                transform: translateY(6%);
            }
        }

        .success {
            color: rgb(21, 138, 17);
            background-color: rgba(88, 221, 95, 0.5);
        }

        .error {
            color: rgb(138, 17, 17);
            background-color: rgba(221, 88, 88, 0.5);
        }

    }

    #site-overlay {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;

        height: 100vh;
        width: 100vw;

        #site-overlay-background {
            height: 100%;
            width: 100%;
            background-color: $overlayColor;
        }

        .prompt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(1) translate(-50%, -50%);

            @include flexDisplay(column, center, center);

            height: 18rem;
            width: 28rem;

            background-color: $panelBckColor;
            border-radius: $panelCorner;

            transform-origin: 0 0;

            transition: transform calc(#{$transitionTime}*2) ease-in-out;

            &.hidden {
                transform: scale(0) translate(-50%, -50%);
            }

            h1 {
                margin: 0;
            }

            .message {
                margin: 0.4rem 0;
                margin-bottom: 2.8rem;

                text-align: center;
            }

            form {
                margin: 0;
                input {
                    margin: 0;
                }
            }

            button {
                margin: 0.2rem 0;
            }

            > p.close-prompt {
                color: $foreColor;

                transform-origin: 50% 100%;
                cursor: pointer;

                transition: transform $transitionTime ease-in-out,
                            color $transitionTime ease-in-out;

                &:hover {
                    transform: scale(1.04);
                }
                &:active {
                    color: $foreGray;
                    transform: scale(0.96);
                }
            }

        }


    }

    // Footer formatting
    footer {
        height: 12rem;
        background: linear-gradient(rgba(0,0,0,0) 0%, $footerColor 100%);

        #footer-content {
            @include flexDisplay(row, center, space-between);

            height: 100%;

            a {
                font-size: 16pt;
            }
        }

    }

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// // Minimum aspect ratio - browsers > 16:9
// @media (min-aspect-ratio: 11/5) {


// }

// Maximum aspect ratio - for mobile/portrait browsers
@media only screen and (max-aspect-ratio: 12/10) {

    body {
        &.no-scroll {
            overflow: hidden;
            padding-right: 0;
        }

        main,
        footer #footer-content {
            max-width: none;
            width: 92%;
        }
    }

}
