// Import from forms
@import 'app';

main {

    > h2,
    > h3 {
        user-select: none;
        color: $foreLight;
        text-align: center;
    }

    > h2 {
        margin: 0;
        margin-top: 2rem;
    }

    div.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2,
        h3 {
            user-select: none;
            color: $foreLight;
            text-align: center;
        }

    }

    .recipe-panel {
        width: calc(100% - 5.2rem);
        padding: 2.6rem;
        border-radius: $panelCorner;
        @include hasShadow();

        margin: 2rem 0;

        background-color: $panelBckColor;
        overflow: hidden;

        .recipe-title-panel {
            @include flexDisplay(row, center, space-between);

            margin: -2.6rem;
            margin-bottom: 0;

            width: 100%;
            padding: 1.6rem 2.6rem;
            background-color: $panelAccentColor;

            h1, p {
                margin: 0.5rem 0;
            }

            .quick-info {
                @include flexDisplay(row, flex-start, center);

                margin-top: 2%;

                .spice-info,
                .sweet-info,
                .sour-info,
                .time-info,
                .difficulty-info {
                    @include flexDisplay(column, center, flex-start);
                    width: 5.4rem;

                    user-select: none;

                    text-align: center;

                    .info-wheel {
                        @include flexDisplay(column, center, center);

                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;

                        color: $backColor;

                        * {
                            margin: 0;
                            padding: 0;
                        }

                        &.spice-wheel {
                            background-color: $spiceColor;
                        }
                        &.sweet-wheel {
                            background-color: $sweetColor;
                        }
                        &.sour-wheel {
                            background-color: $sourColor;
                        }
                        &.time-wheel {
                            text-align: center;
                            background-color: rgba(100, 100, 100, 0.7);

                            .mins {
                                font-size: 80%;
                            }

                        }
                        &.difficulty-wheel {
                            background-color: $diffColor;
                        }
                    }

                }


            }

        }

    }

    #cookbook-refresh {
        @include flexDisplay(column, center, center);

        margin-top: 4rem;

        height: 6rem;
        width: 6rem;
        border-radius: 50%;

        background-color: $panelBckColor;

        cursor: pointer;
        transition: transform $transitionTime ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.96);
        }

        &.active {
            svg {
                animation: rotate 2s ease infinite;
            }
        }

        svg {
            height: 50%;
            width: 50%;

            fill: $foreGray;
        }

    }

}

@keyframes rotate {
    100% {
        transform: rotate(720deg);
        transition: rotate(180deg);
    }
}

// Maximum aspect ratio - mobile/portrait browsers
@media (max-aspect-ratio: 12/10) {

    .recipe-panel {
        width: 80%;
        padding: 2rem;

        margin: 1.6rem 0;

        .recipe-title-panel {
            @include flexDisplay(row, center, center);
            flex-wrap: wrap;

            padding: 2.6rem;
            padding-bottom: 0.4rem;

            .recipe-title {
                width: 100%;
                * {
                    width: 100%;
                    text-align: center;
                }
            }

            .spice-info,
            .sweet-info,
            .sour-info,
            .time-info,
            .difficulty-info {
                margin-top: 1.6rem;
                width: 4rem !important;

                p {
                    opacity: 0%;
                    transition: opacity $transitionTime ease-in-out;
                }
                &:hover {
                    p {
                        opacity: 100%;
                    }
                }

            }


        }

    }

}
