// Variables
@import 'variables';

input,
textarea,
select {

    font-family: inherit;

    &:-webkit-autofill {
        &:hover,
        &focus {
            border: inherit;
            -webkit-text-fill-color: inherit;
            box-shadow: inherit;
            transition: background-color 5000s ease-in-out 0s;
            font-size: inherit;
            font-family: inherit;
        }
    }

    &:focus {
        outline: none;
    }

}
// input {

// }



