// Import from forms
@import 'forms';

// Body and HTML tags formatting
body,
html {
    margin: 0 !important;

    width: 100%;

    font: $font-size-base $font-stack;
    line-height: $line-height-base;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $foreColor;

    background: linear-gradient(26deg, $backAccent 50%, $backColor 50%);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $foreColor;
}

nav {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    width: 100%;

    #search-bar-container {
        position: absolute;
        z-index: 5;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);

        height: 3.2rem;
        width: 50%;
        max-width: 1080px;

        svg#search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1rem;

            z-index: 2;

            height: 1.8rem;
            width: 1.8rem;
            stroke: $foreAccent;

            cursor: pointer;

            transition: transform $transitionTime ease-in-out;

            &:hover {
                transform: translateY(-50%) scale(1.06);
            }
            &:active {
                transform: translateY(-50%) scale(0.94);
            }
        }

        input#search-bar {
            width: 100%;
            height: 100%;

            border: none;
            border-radius: $borderRounded;

            text-indent: 3.2rem;
            font-size: 1.4rem;
            font-weight: bold;

            @include hasShadow();
        }
    }

    svg#site-logo {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;

        height: 4.4rem;
        width: 4.4rem;

        cursor: pointer;

        transition: transform $transitionTime ease-in-out;

        &:hover {
            transform: scale(1.06);
        }
        &:active {
            transform: scale(0.94);
        }
    }

}

svg {
    user-select: none;
}

main  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include flexDisplay(column, center, flex-start);

    padding: 10vh 0;
    margin: 0;

    width: 100%;
    max-width: 1920px;
    min-height: 90vh;
}

.recipe-panel {
    width: 60%;
    padding: 2.6rem;
    border-radius: $panelCorner;
    @include hasShadow();

    margin: 2rem 0;

    background-color: $panelBckColor;
    overflow: hidden;

    .recipe-title-panel {
        @include flexDisplay(row, center, space-between);

        margin: -2.6rem;
        margin-bottom: 0;

        width: 100%;
        padding: 1.6rem 2.6rem;
        background-color: $panelAccentColor;

        h1, p {
            margin: 0.5rem 0;
        }

        .quick-info {
            @include flexDisplay(row, flex-end, center);

            margin-top: 1%;

            .spice-info,
            .sweet-info,
            .sour-info,
            .time-info,
            .difficulty-info {
                @include flexDisplay(column, center, flex-start);
                width: 5.4rem;

                .info-wheel {
                    @include flexDisplay(column, center, center);

                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;

                    color: $backColor;

                    * {
                        margin: 0;
                        padding: 0;
                    }

                    &.spice-wheel {
                        background-color: rgba(200, 100, 100, 0.7);
                    }
                    &.sweet-wheel {
                        background-color: rgba(100, 100, 200, 0.7);
                    }
                    &.sour-wheel {
                        background-color: rgba(100, 200, 100, 0.7);
                    }
                    &.time-wheel {
                        text-align: center;
                        background-color: rgba(100, 100, 100, 0.7);

                        .mins {
                            font-size: 80%;
                        }

                    }
                    &.difficulty-wheel {
                        background-color: rgba(200, 200, 100, 0.7);
                    }
                }

            }


        }

    }

}

// Footer formatting
footer {
    @include flexDisplay(row, center, center);
    height: 12rem;
    background: linear-gradient(rgba(0,0,0,0) 0%, $footerColor 100%);

    a {
        font-size: 16pt;
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// Minimum aspect ratio - browsers > 16:9
@media (min-aspect-ratio: 11/5) {


}

// Maximum aspect ratio - mobile/portrait browsers
@media (max-aspect-ratio: 12/10) {

    // body,
    // html {
    //     font-size: 1rem !important;
    // }

    main {
        width: 90%;
        max-width: 100%;
    }

    .recipe-panel {
        width: 80%;
        padding: 2rem;

        margin: 1.6rem 0;

        .recipe-title-panel {
            @include flexDisplay(row, center, center);
            flex-wrap: wrap;

            padding: 2.6rem;
            padding-bottom: 0.4rem;

            .recipe-title {
                width: 100%;
                * {
                    width: 100%;
                    text-align: center;
                }
            }

            .spice-info,
            .sweet-info,
            .sour-info,
            .time-info,
            .difficulty-info {
                margin-top: 1.6rem;
                width: 4rem !important;

                p {
                    opacity: 0%;
                    transition: opacity $transitionTime ease-in-out;
                }
                &:hover {
                    p {
                        opacity: 100%;
                    }
                }

            }


        }

    }

}
