@import 'global';

main {

    > h1,
    > h2,
    > p {
        align-self: flex-start;
    }

    > h1 {
        font-size: 4rem;
        font-weight: bold;
    }
    > h2 {
        margin-top: 3rem;
        font-size: 1.8rem;
    }
    > p {
        margin-top: -1rem;
    }

    #stats-container,
    #category-container,
    #allergen-container,
    #trace-container,
    #label-container,
    #references-container {
        position: relative;

        @include flexDisplay(row, center, space-between);

        width: calc(100% - 4rem);
    }

    #stats-container {
        background-color: $panelBckColor;
        border-radius: $panelCorner;

        padding: 2rem;
        padding-bottom: 6rem;

        > div {
            @include flexDisplay(column, center, flex-start);

            .info-graphic {
                @include flexDisplay(column, center, center);

                width: 7rem;
                height: 7rem;
                border-radius: 50%;

                background-color: $panelAccentColor;

                text-align: center;

                > h2, > p {
                    margin: 0;
                }
                >p {
                    font-size: 90%;
                }

            }

        }

        #small-print-info {
            @include flexDisplay(column, flex-start, flex-start);

            position: absolute;
            bottom: 1.2rem;
            left: 1.6rem;

            p, a {
                margin: 0.2rem 0;
                text-align: right;
                color: $foreGray;
            }
        }
    }

    #category-container,
    #allergen-container,
    #trace-container,
    #label-container {
        flex-wrap: wrap;

        .info-panel {
            margin: 0.4rem;

            width: calc(50% - 2.8rem); // padding + margin = 2.8rem
            padding: 0.2rem 1rem;

            border-radius: $panelCorner;
            background-color: $panelBckColor;

            font-size: 1.2rem;
        }

    }

    #references-container {
        flex-direction: column;

        max-height: 30rem;
        overflow-y: scroll;

        a {
            margin: 0.4rem 0;
            padding: 1rem;

            background-color: $panelBckColor;
            border-radius: $smallRounded;
        }
    }


}
