@import 'app';

main {
    padding-top: 12rem;

    > h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }

    .profile-image-container {
        width: 24%;
        max-width: 20rem;
    }

    > h2,
    > p {
        align-self: flex-start;
    }

    > h2 {
        margin: 1rem 0;

        &:not(:first-child) {
            margin-top: 4rem;
        }
    }

    > p {
        margin-top: -0.8rem;
        margin-bottom: 1rem;
        text-align: justify;
    }

    #user-recipes,
    #user-ratings,
    #user-fridge,
    #user-allergens {
        width: 100%;
    }

    #about-user {
        margin-top: 2rem;

        padding: 2rem;
        width: calc(100% - 4rem);

        border-radius: $panelCorner;
        background-color: $panelBckColor;

        p {
            margin: 0;
        }
    }

    #user-ratings,
    #user-recipes {
        > p {
            width: 100%;
            padding: 3rem 0;
            text-align: center;
            background-color: $panelBckColor;
            border-radius: $panelCorner;
        }
    }

    #user-ratings {
        @include flexDisplay(row, flex-start, flex-start);
        flex-wrap: wrap;

        .rating {
            @include flexDisplay(row, flex-start, flex-start);

            margin: 0.6rem 0;

            width: calc(100% - 1.2rem);

            padding: 1rem 0.6rem;
            background-color: $panelBckColor;
            border-radius: $smallRounded;

            .section {
                height: 100%;

                &:first-of-type {
                    @include flexDisplay(row, center, center);
                    width: 20%;

                    .out-of-five {
                        position: relative;

                        margin: 3rem 0;

                        width: 6rem;
                        height: 6rem;

                        svg,
                        h3 {
                            position: absolute;
                            transform: translate(-50%, -50%);
                        }
                        h3 {
                            margin: 0;
                            top: 50%;
                            left: 50%;
                        }
                        svg {
                            top: 45%;
                            left: 51%;
                            width: 110%;
                            height: 110%;
                            fill: $diffMuted;
                        }
                    }
                }
                &:last-of-type {
                    width: 80%;

                    > h1,
                    > h4  {
                        margin-left: 0.8rem;
                    }

                    > div {
                        @include flexDisplay(row, flex-start, flex-start);
                        flex-wrap: wrap;

                        width: 100%;

                        .spice-wheel,
                        .sweet-wheel,
                        .sour-wheel,
                        .time-wheel,
                        .difficulty-wheel {
                            margin: 0.6rem;

                            h3, h4 {
                                margin: 0;
                            }
                        }

                        .spice-wheel,
                        .sweet-wheel,
                        .sour-wheel,
                        .time-wheel,
                        .difficulty-wheel {
                            @include flexDisplay(column, center, center);
                            border-radius: 50%;

                            width: 3.6rem;
                            height: 3.6rem;

                            color: $panelBckColor;
                        }

                        .spice-wheel {
                            background-color: $spiceMuted;
                        }
                        .sweet-wheel {
                            background-color: $sweetMuted;
                        }
                        .sour-wheel {
                            background-color: $sourMuted;
                        }
                        .time-wheel {
                            background-color: rgba(100, 100, 100, 0.7);
                        }
                        .difficulty-wheel {
                            background-color: $diffColor;
                        }

                    }
                }

            }

        }

    }

    #user-recipes {
        @include flexDisplay(row, flex-start, flex-start);
        flex-wrap: wrap;

        .recipe-panel {
            flex-grow: 1;

            margin: 0.4rem;
            padding: 1rem 2rem;

            min-width: calc(44% - 4.8rem); // padding + margin = 4.8rem

            background-color: $panelBckColor;
            border-radius: $panelCorner;

            h2, p {
                margin: 0.2rem;
            }

        }
    }
    #add-recipe {
        align-self: flex-end;

        margin-top: 1rem;
        margin-right: 2rem;

        h3 {
            margin: 0;

            padding: 1.2rem;
            border-radius: $smallRounded;

            cursor: pointer;

            &:hover {
                background-color: $backFocus;
            }
            &:active {
                background-color: $backActive;
            }
        }
    }

    #user-prefs {
        width: 94%;

        #sliders {
            position: relative;

            width: 100%;

            label,
            p {
                margin: 0;
            }

            label {
                display:inline-block;
                margin-top: 2rem;

                font-size: 1.4rem;
                font-weight: bold;
            }

            #spice-slider {
                .ui-slider-handle {
                    background: $spiceColor;
                    &:active {
                        background: $spiceColor;
                    }
                }
                .ui-slider-range {
                    background: $spiceMuted;
                }
            }
            #sweet-slider {
                .ui-slider-handle {
                    background: $sweetColor;
                    &:active {
                        background: $sweetColor;
                    }
                }
                .ui-slider-range {
                    background: $sweetMuted;
                }
            }
            #sour-slider {
                .ui-slider-handle {
                    background: $sourColor;
                    &:active {
                        background: $sourColor;
                    }
                }
                .ui-slider-range {
                    background: $sourMuted;
                }
            }
            #diff-slider {
                .ui-slider-handle {
                    background: $diffColor;
                    &:active {
                        background: $diffColor;
                    }
                }
                .ui-slider-range {
                    background: $diffMuted;
                }
            }
        }

    }

    #user-fridge,
    #user-allergens {
        @include flexDisplay(column, center, flex-start);

        width: 100%;

        h1, p {
            align-self: flex-start;
            margin: 0.2rem 0;
        }

        .search-bar,
        .item-container {
            margin: 1rem 0;
        }

        .search-bar {
            width: calc(100% - 2rem);
        }
        .item-container {
            @include flexDisplay(row, flex-start, flex-start);
            flex-wrap: wrap;

            min-height: calc(20vh - 4rem);
            width: calc(100% - 4rem);

            padding: 1rem;

            background-color: $panelAccentColor;
            border-radius: $panelCorner;

            > p {
                width: 100%;

                align-self: center;
                text-align: center;
            }

            .item {
                @include flexDisplay(row, center, center);
                // flex-grow: 1;

                margin: 0.6rem;
                padding: 0 1.4rem;

                cursor: pointer;

                border-radius: $smallRounded;

                &.selected {
                    background-color: $accentFaint !important;
                }
                &.unselected {
                    background-color: $panelBckColor !important;
                }
            }

        }
    }

    #logout-link {
        @include flexDisplay(row, center, space-between);

        margin: 0;
        margin-top: 7rem;

        padding: 1.4rem 2rem;
        border-radius: $smallRounded;

        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: $backFocus;
        }
        &:active {
            background-color: $backActive;
        }
    }

}

// // Maximum aspect ratio - for mobile/portrait browsers
// @media only screen and (max-aspect-ratio: 12/10) {

//     body {
//         main {

//             > p {
//             }

//         }
//     }

// }
