@import 'app';

main {

    #quick-launch-categories {
        @include flexDisplay(row, center, flex-start);

        margin: 6rem 0;

        width: 100%;

        overflow-x: scroll;

        .graphic-circle {
            @include flexDisplay(column, center, center);

            margin: 0 1rem;

            flex-grow: 0;
            flex-shrink: 0;

            height: 12rem;
            width: 12rem;
            border-radius: 50%;

            background-color: $panelBckColor;

            text-align: center;
        }
    }

    #search-bar-container {
        height: 3.2rem;
        width: 50%;

        svg#search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1rem;

            z-index: 2;

            height: 1.8rem;
            width: 1.8rem;
            stroke: $foreAccent;

            cursor: pointer;

            transition: transform $transitionTime ease-in-out;

            &:hover {
                transform: translateY(-50%) scale(1.06);
            }
            &:active {
                transform: translateY(-50%) scale(0.94);
            }
        }

        input#search-bar {
            width: 100%;
            height: 100%;

            border: none;
            border-radius: $panelCorner;

            text-indent: 3.6rem;
            font-size: 1.4rem;
            font-weight: bold;

            @include hasShadow();
        }
    }

}

