@font-face {
  font-family: "C&L Regular";
  src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Bold";
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Italics";
  font-style: italic;
  src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format("truetype");
}

@font-face {
  font-family: "C&L BoldItalics";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format("truetype");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form a,
form button,
form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form a {
  margin: 2vh 0;
}

form p.form-error-msg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.4rem 0;
  margin-top: 0.2rem;
  color: #f57d91;
}

form .form-box {
  position: relative;
  height: 4rem;
  width: 100%;
}

form .form-box svg,
form .form-box input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form .form-box svg {
  z-index: 2;
  left: 0.9rem;
  height: 1.8rem;
  width: 1.8rem;
  -webkit-transition: -webkit-transform 0.14s ease-in-out;
  transition: -webkit-transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
}

form .form-box input:not([type="checkbox"]) {
  left: 0;
  text-indent: 2.7rem;
}

form .form-box:hover svg {
  -webkit-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
}

form .form-box:active svg {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

form .form-row textarea,
form .form-row input:not([type="checkbox"]) {
  width: 49%;
}

form .form-row textarea:first-child,
form .form-row input:not([type="checkbox"]):first-child {
  margin-right: 2%;
}

form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0.4rem;
}

input,
textarea,
select {
  font-family: inherit;
}

input:-webkit-autofill:hover, input:-webkit-autofillfocus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofillfocus,
select:-webkit-autofill:hover,
select:-webkit-autofillfocus {
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-size: inherit;
  font-family: inherit;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

textarea,
input:not([type="submit"], [type="checkbox"]) {
  width: 100%;
  height: 3.2rem;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.2rem;
  text-indent: 1.6rem;
  font-weight: bold;
}

textarea {
  padding: 1.6rem;
}

button,
input[type="submit"] {
  min-width: 8rem;
  padding: 1vh 2vh;
  margin: 1rem;
  border-width: 0.24rem;
  border-color: #0a0a0a;
  border-radius: 1.6rem;
  background-color: #f894a4;
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

button:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

button:active,
input[type="submit"]:active {
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  background-color: #f57d91;
  -webkit-transform: scale(1);
          transform: scale(1);
}

label {
  margin-bottom: 0.2rem;
}

label.locked {
  color: gray !important;
}

label.checkOption, label.subOption {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 0.6vh;
  height: 1.4rem;
  width: 0;
  font-weight: normal;
  color: inherit;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

label.checkOption input, label.subOption input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

label.checkOption input:checked ~ .checkbox svg,
label.checkOption input:checked ~ .checkbox svg, label.subOption input:checked ~ .checkbox svg,
label.subOption input:checked ~ .checkbox svg {
  stroke: #f6f4f8;
  fill: #f894a4;
}

label.checkOption:hover input ~ .checkbox svg,
label.checkOption:hover input ~ .checkbox svg, label.subOption:hover input ~ .checkbox svg,
label.subOption:hover input ~ .checkbox svg {
  stroke: #f57d91;
  fill: #f6f4f8;
}

label.checkOption:hover input:checked ~ .checkbox svg,
label.checkOption:hover input:checked ~ .checkbox svg, label.subOption:hover input:checked ~ .checkbox svg,
label.subOption:hover input:checked ~ .checkbox svg {
  stroke: #f6f4f8;
  fill: #f894a4;
}

label.subOption {
  -webkit-transform: translate(3.4vh);
          transform: translate(3.4vh);
}

.checkbox {
  position: absolute;
  left: 0;
  border-radius: 0.2rem;
  text-indent: 1.4rem;
}

.checkbox svg {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.2rem;
  width: 1.2rem;
  fill: #f6f4f8;
  stroke: #f6f4f8;
  -webkit-transition: fill 0.14s ease-in-out, stroke 0.14s ease-in-out;
  transition: fill 0.14s ease-in-out, stroke 0.14s ease-in-out;
}

input[type="checkbox"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=forms.css.map */