@font-face {
  font-family: "C&L Regular";
  src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Bold";
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Italics";
  font-style: italic;
  src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format("truetype");
}

@font-face {
  font-family: "C&L BoldItalics";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format("truetype");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body,
html {
  margin: 0 !important;
  width: 100%;
  font: 1rem "C&L Regular";
  line-height: 1.2;
  color: #0a0a0a;
  background: linear-gradient(26deg, #f1eff2 50%, #f0ecf0 50%);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4rem 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
}

.recipe-panel {
  width: 60%;
  padding: 2.6rem;
  border-radius: 1.6rem;
  -webkit-box-shadow: 0 0 1rem 0 #a0a0a0;
          box-shadow: 0 0 1rem 0 #a0a0a0;
  margin: 2rem 0;
  background-color: #f6f4f8;
  overflow: hidden;
}

.recipe-panel .recipe-title-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -2.6rem;
  margin-bottom: 0;
  width: 100%;
  padding: 1.6rem 2.6rem;
  background-color: #eceaee;
}

.recipe-panel .recipe-title-panel h1, .recipe-panel .recipe-title-panel p {
  margin: 0.5rem 0;
}

.recipe-panel .recipe-title-panel .quick-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
}

.recipe-panel .recipe-title-panel .quick-info .spice-info,
.recipe-panel .recipe-title-panel .quick-info .sweet-info,
.recipe-panel .recipe-title-panel .quick-info .sour-info,
.recipe-panel .recipe-title-panel .quick-info .time-info,
.recipe-panel .recipe-title-panel .quick-info .challenge-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 5.4rem;
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: #f0ecf0;
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel *,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel *,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel *,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel *,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel * {
  margin: 0;
  padding: 0;
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.spice-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.spice-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.spice-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.spice-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.spice-wheel {
  background-color: rgba(200, 100, 100, 0.7);
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.sweet-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.sweet-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.sweet-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.sweet-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.sweet-wheel {
  background-color: rgba(100, 100, 200, 0.7);
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.sour-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.sour-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.sour-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.sour-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.sour-wheel {
  background-color: rgba(100, 200, 100, 0.7);
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.time-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.time-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.time-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.time-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.time-wheel {
  text-align: center;
  background-color: rgba(100, 100, 100, 0.7);
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.time-wheel .mins,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.time-wheel .mins,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.time-wheel .mins,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.time-wheel .mins,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.time-wheel .mins {
  font-size: 80%;
}

.recipe-panel .recipe-title-panel .quick-info .spice-info .info-wheel.challenge-wheel,
.recipe-panel .recipe-title-panel .quick-info .sweet-info .info-wheel.challenge-wheel,
.recipe-panel .recipe-title-panel .quick-info .sour-info .info-wheel.challenge-wheel,
.recipe-panel .recipe-title-panel .quick-info .time-info .info-wheel.challenge-wheel,
.recipe-panel .recipe-title-panel .quick-info .challenge-info .info-wheel.challenge-wheel {
  background-color: rgba(200, 200, 100, 0.7);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(gainsboro));
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, gainsboro 100%);
}

footer a {
  font-size: 16pt;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (max-aspect-ratio: 12 / 10) {
  main {
    width: 90%;
    max-width: 100%;
  }
  .recipe-panel {
    width: 80%;
    padding: 2rem;
    margin: 1.6rem 0;
  }
  .recipe-panel .recipe-title-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2.6rem;
    padding-bottom: 0.4rem;
  }
  .recipe-panel .recipe-title-panel .recipe-title {
    width: 100%;
  }
  .recipe-panel .recipe-title-panel .recipe-title * {
    width: 100%;
    text-align: center;
  }
  .recipe-panel .recipe-title-panel .spice-info,
  .recipe-panel .recipe-title-panel .sweet-info,
  .recipe-panel .recipe-title-panel .sour-info,
  .recipe-panel .recipe-title-panel .time-info,
  .recipe-panel .recipe-title-panel .challenge-info {
    margin-top: 1.6rem;
    width: 4rem !important;
  }
  .recipe-panel .recipe-title-panel .spice-info p,
  .recipe-panel .recipe-title-panel .sweet-info p,
  .recipe-panel .recipe-title-panel .sour-info p,
  .recipe-panel .recipe-title-panel .time-info p,
  .recipe-panel .recipe-title-panel .challenge-info p {
    opacity: 0%;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .recipe-panel .recipe-title-panel .spice-info:hover p,
  .recipe-panel .recipe-title-panel .sweet-info:hover p,
  .recipe-panel .recipe-title-panel .sour-info:hover p,
  .recipe-panel .recipe-title-panel .time-info:hover p,
  .recipe-panel .recipe-title-panel .challenge-info:hover p {
    opacity: 100%;
  }
}
/*# sourceMappingURL=global.css.map */