@font-face {
  font-family: "C&L Regular";
  src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Bold";
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Italics";
  font-style: italic;
  src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format("truetype");
}

@font-face {
  font-family: "C&L BoldItalics";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format("truetype");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form a,
form button,
form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form a {
  margin: 2vh 0;
}

form p.form-error-msg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.4rem 0;
  margin-top: -1.2rem;
  color: #f57d91;
}

form .form-box {
  position: relative;
  height: 4rem;
  width: 100%;
}

form .form-box svg,
form .form-box input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form .form-box svg {
  z-index: 2;
  left: 0.9rem;
  height: 1.8rem;
  width: 1.8rem;
  -webkit-transition: -webkit-transform 0.14s ease-in-out;
  transition: -webkit-transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
}

form .form-box input:not([type="checkbox"]) {
  left: 0;
  text-indent: 2.7rem;
}

form .form-box:hover svg {
  -webkit-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
}

form .form-box:active svg {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

form .form-row textarea,
form .form-row input:not([type="checkbox"]) {
  width: 49%;
}

form .form-row textarea:first-child,
form .form-row input:not([type="checkbox"]):first-child {
  margin-right: 2%;
}

form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0.4rem;
}

input,
textarea,
select {
  font-family: inherit;
}

input:-webkit-autofill:hover, input:-webkit-autofillfocus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofillfocus,
select:-webkit-autofill:hover,
select:-webkit-autofillfocus {
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-size: inherit;
  font-family: inherit;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

textarea,
input:not([type="submit"], [type="checkbox"]) {
  width: 100%;
  height: 3.2rem;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.2rem;
  text-indent: 1.6rem;
  font-weight: bold;
}

textarea {
  padding: 1.6rem;
}

button,
input[type="submit"] {
  min-width: 8rem;
  padding: 1vh 2vh;
  margin: 1rem;
  border-width: 0.24rem;
  border-color: #0a0a0a;
  border-radius: 1.6rem;
  background-color: #f894a4;
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

button:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

button:active,
input[type="submit"]:active {
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
  background-color: #40c894;
  -webkit-transform: scale(1);
          transform: scale(1);
}

label {
  margin-bottom: 0.2rem;
}

label.locked {
  color: gray !important;
}

label.checkOption, label.subOption {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 0.6vh;
  height: 1.4rem;
  width: 0;
  font-weight: normal;
  color: inherit;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

label.checkOption input, label.subOption input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

label.checkOption input:checked ~ .checkbox svg,
label.checkOption input:checked ~ .checkbox svg, label.subOption input:checked ~ .checkbox svg,
label.subOption input:checked ~ .checkbox svg {
  stroke: #f0ecf0;
  fill: #4be4a9;
}

label.checkOption:hover input ~ .checkbox svg,
label.checkOption:hover input ~ .checkbox svg, label.subOption:hover input ~ .checkbox svg,
label.subOption:hover input ~ .checkbox svg {
  stroke: #40c894;
  fill: #f0ecf0;
}

label.checkOption:hover input:checked ~ .checkbox svg,
label.checkOption:hover input:checked ~ .checkbox svg, label.subOption:hover input:checked ~ .checkbox svg,
label.subOption:hover input:checked ~ .checkbox svg {
  stroke: #f0ecf0;
  fill: #4be4a9;
}

label.subOption {
  -webkit-transform: translate(3.4vh);
          transform: translate(3.4vh);
}

.checkbox {
  position: absolute;
  left: 0;
  border-radius: 0.2rem;
  text-indent: 1.4rem;
}

.checkbox svg {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.2rem;
  width: 1.2rem;
  fill: #f0ecf0;
  stroke: #f0ecf0;
  -webkit-transition: fill 0.14s ease-in-out, stroke 0.14s ease-in-out;
  transition: fill 0.14s ease-in-out, stroke 0.14s ease-in-out;
}

input[type="checkbox"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body,
html {
  margin: 0 !important;
  width: 100%;
  font: 12pt "C&L Regular";
  line-height: 1.2;
  color: #0a0a0a;
  background: linear-gradient(26deg, #f1eff2 50%, #f0ecf0 50%);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *               Main view-window properties               *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
  z-index: 5;
  position: absolute;
  top: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  width: 90%;
  max-width: 1920px;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}

nav.scrolling {
  background-color: #f894a4;
}

nav.scrolling svg#site-logo {
  stroke: #f1eff2;
}

nav #search-bar-container,
nav #nav-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav #nav-left {
  width: 58%;
}

nav #nav-left svg#site-logo {
  height: 4.4rem;
  width: 4.4rem;
  stroke: #282828;
  fill: #f894a4;
  cursor: pointer;
  -webkit-transition: stroke 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
  transition: stroke 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
  transition: stroke 0.14s ease-in-out, transform 0.14s ease-in-out;
  transition: stroke 0.14s ease-in-out, transform 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
}

nav #nav-left svg#site-logo:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

nav #nav-left svg#site-logo:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

nav #nav-left #search-bar-container {
  margin-left: 2rem;
  width: 50%;
}

nav #nav-left #search-bar-container svg#search-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1.2rem;
  z-index: 2;
  height: 1.8rem;
  width: 1.8rem;
  stroke: #3c3c3c;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.14s ease-in-out;
  transition: -webkit-transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out;
  transition: transform 0.14s ease-in-out, -webkit-transform 0.14s ease-in-out;
}

nav #nav-left #search-bar-container svg#search-icon:hover {
  -webkit-transform: translateY(-50%) scale(1.06);
          transform: translateY(-50%) scale(1.06);
}

nav #nav-left #search-bar-container svg#search-icon:active {
  -webkit-transform: translateY(-50%) scale(0.94);
          transform: translateY(-50%) scale(0.94);
}

nav #nav-left #search-bar-container input#search-bar {
  text-indent: 3.6rem;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 0 0.4rem 0 #a0a0a0;
          box-shadow: 0 0 0.4rem 0 #a0a0a0;
}

nav #nav-left #search-bar-container #results-container .results-panel {
  height: 3.2rem;
  width: 100%;
  background-color: #f1eff2;
}

nav #site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 70%;
}

nav #site-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 1.2rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav #site-links a b {
  font-size: 1.2rem;
}

nav #site-links a p.beta {
  margin-left: 0.6rem;
  font-size: 80%;
  color: #f1eff2;
  background-color: #282828;
  padding: 0.32rem 0.4rem;
  border-radius: 0.32rem;
}

nav #site-links a.active {
  background-color: #e0e0e0;
}

nav #site-links a:hover {
  background-color: #e0e0e0;
}

nav #site-links a:active {
  background-color: #d8d8d8;
}

main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 10rem 0;
  width: 70%;
  max-width: 960px;
  min-height: 90vh;
}

main .profile-image-container {
  border-radius: 50%;
}

main .profile-image-container .profile-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

main .profile-image-container .profile-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  height: 102%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(gainsboro));
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, gainsboro 100%);
}

footer a {
  font-size: 16pt;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *        Media tags for different browser sizing          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (max-aspect-ratio: 12 / 10) {
  main {
    width: 90%;
    max-width: 100%;
  }
  .recipe-panel {
    width: 80%;
    padding: 2rem;
    margin: 1.6rem 0;
  }
  .recipe-panel .recipe-title-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2.6rem;
    padding-bottom: 0.4rem;
  }
  .recipe-panel .recipe-title-panel .recipe-title {
    width: 100%;
  }
  .recipe-panel .recipe-title-panel .recipe-title * {
    width: 100%;
    text-align: center;
  }
  .recipe-panel .recipe-title-panel .spice-info,
  .recipe-panel .recipe-title-panel .sweet-info,
  .recipe-panel .recipe-title-panel .sour-info,
  .recipe-panel .recipe-title-panel .time-info,
  .recipe-panel .recipe-title-panel .difficulty-info {
    margin-top: 1.6rem;
    width: 4rem !important;
  }
  .recipe-panel .recipe-title-panel .spice-info p,
  .recipe-panel .recipe-title-panel .sweet-info p,
  .recipe-panel .recipe-title-panel .sour-info p,
  .recipe-panel .recipe-title-panel .time-info p,
  .recipe-panel .recipe-title-panel .difficulty-info p {
    opacity: 0%;
    -webkit-transition: opacity 0.14s ease-in-out;
    transition: opacity 0.14s ease-in-out;
  }
  .recipe-panel .recipe-title-panel .spice-info:hover p,
  .recipe-panel .recipe-title-panel .sweet-info:hover p,
  .recipe-panel .recipe-title-panel .sour-info:hover p,
  .recipe-panel .recipe-title-panel .time-info:hover p,
  .recipe-panel .recipe-title-panel .difficulty-info:hover p {
    opacity: 100%;
  }
}
/*# sourceMappingURL=global.css.map */